
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
header
{
    justify-content: center;
    display:flex;
    align-items: center;  
    padding: 40px 0px;

  

}

.toggle
{
  position: relative;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
}
.toggle.active
{
background-repeat: no-repeat;
  background-size: 5px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position:center;
  display: space;
  justify-content:space-evenly;
  z-index: 200;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  object-fit: cover;
  opacity: 0.8;
}

.text
{
 justify-content: center;
  display:flex;
  align-items: center;
}


.text a
{
    z-index: 200;
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  color: #111;
  letter-spacing: 1px;
  transition: 0.2s;
}

.text a:hover
{
  letter-spacing: 3px;
}
